.parent{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.parent div{
    width: 32%;
    background-color: RGBA(25, 135, 84, 0.7);
    backdrop-filter: blur(10px);
}

body{
    background: url('./picture_quran/mosque.jpg') no-repeat center fixed;
    background-size: cover;
    
}

.main{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

.content{
    text-decoration: none;
    color: black;
}
.details{
    margin-top: 210px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

